
.background {
  background-color: rgb(19, 36, 36);
}

.navbar {
  height: 50px;
  width: 100%;
  background-color: solid rgb(29, 54, 54);

}

.navlinks {
  text-decoration: none;
  color: white;
  text-shadow: rgb(19, 36, 36) 1px, 1px, 1px, 1px;
  font-size: x-large;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: rgb(31, 61, 61);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(31, 61, 61);
}

.chart {
  padding: 70px;
  text-align: center;
  color:white;
  height: 4px;
}

.table {
  text-align: center;
  background-color: white;
  color:rgb(31, 61, 61);
  box-shadow: black 4px;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 3%;
  margin: auto;
  margin-top:90px; 
}

.cell {
  border: solid rgb(19, 36, 36)
}

.input {
  width: 300px;
  height: 40px;
  color: rgb(31, 61, 61);
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}

.button {
  width: 30%;
  height: 100%;
  background-color: rgb(31, 61, 61);
  color: white;
  border-radius: 10px;
  margin: 20px;
}

.center {
  text-align: center;
}

.text {
  color:white;
}

.overlay {
  text-align: center;
  display: block;
  margin: auto;
  height: 500px;
  width: 1500px;
  z-index: 1;
  background: linear-gradient(
      to bottom, 
      transparent 0%,
      transparent 30%,
      green 50%, 
      red 50%, 
      transparent 70%,
      transparent 100%
    );
  }

  .styled-chart {
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    background: #22272b;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 25px;
    text-align: center;
    --color-background: #22272b;
    --color-on-background: #fff;
    --color-layer-transparent: rgba(0, 5, 11, 0.9);
    --color-surface: #2c343a;
    --color-primary: #67c2e4;
    --color-on-primary: #fff;
  }
  
  .container {
    margin: 55px;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
